body {
    background: var(--bg);
    background-size: cover;
    font-family: var(--text-font);
    color: var(--text-color);
    overflow: hidden;
}

table {
    border: 1px solid var(--border);
}

table div {
    height: 97.8vh;
}
table div#builder {
    border-right: 1px solid var(--border);
    width: 10rem;
}
table div#wall {
    width: 90vw;
    overflow: auto;
    overflow-wrap: break-word;
}
input#postBtn {
    font-size: 2rem;
}

textarea {
    resize: none;
    color: inherit;
    background: transparent;
}

textarea.post {
    display: inline-block;
}